<div class="password-change">
  <h2 mat-dialog-title>Change Password</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content [formGroup]="form" class="flexColumn" style="display: flex !important;">
      <mat-form-field>
        <input matInput
               placeholder="Current Password"
               formControlName="oldPassword"
               type="password"
               required>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="New Password"
               formControlName="password"
               type="password"
               minlength="8"
               required>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Confirm Password"
               formControlName="confirmPassword"
               type="password"
               minlength="8"
               required>

         <mat-error *ngIf="form.controls.confirmPassword.errors?.MatchPassword">
           Password not match
         </mat-error>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="flexAlignCenter">
      <button type="button" class="mat-raised-button mat-primary" (click)="close()">Cancel</button>
      <button type="submit" class="mat-raised-button mat-primary" [disabled]="isPassword()">Submit</button>
    </mat-dialog-actions>

  </form>
</div>
