.title-input {
    max-width: 30px;
}

.name-input {
    max-width: 100px;
}

.urn-input {
    max-width: 200px;
}

.name-input-last {
    max-width: 120px;
}

.date-input {
    min-width: 138px 
}

.tab-label{
    margin-left: 20px;
    font-size: 18px;
}

.tab-icon{
    margin-left: 20px;
}

.tab-list:hover{
    cursor: pointer;
    background-color: #eee;
}



