.container {
  background-color: #003c5e;

  .cardihab-logo {
    margin-bottom: 75px;
  }
}

mat-form-field {
  margin-top: 2em;
}

.attribution {
  position: fixed; 
  right: 0; 
  bottom: 0; 
  a {
    font-size: small;
    color: #ccc;
    text-decoration: none;
  }
}