@import '~@angular/material/theming';
@include mat-core();

$md-cardihab-blue: (
    50 : #e0e8eb,
    100 : #b3c5ce,
    200 : #809ead,
    300 : #4d778c,
    400 : #265974,
    500 : #003c5b,
    600 : #003653,
    700 : #002e49,
    800 : #002740,
    900 : #001a2f,
    A100 : #68aaff,
    A200 : #358dff,
    A400 : #0271ff,
    A700 : #0065e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-cardihab-orange: (
    50 : #ffe9e0,
    100 : #ffc7b3,
    200 : #ffa280,
    300 : #ff7d4d,
    400 : #ff6126,
    500 : #ff4500,
    600 : #ff3e00,
    700 : #ff3600,
    800 : #ff2e00,
    900 : #ff1f00,
    A100 : #ffffff,
    A200 : #fff3f2,
    A400 : #ffc4bf,
    A700 : #ffaca6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cardihab-primary: mat-palette($md-cardihab-blue);
$cardihab-accent:  mat-palette($md-cardihab-orange, 500, 900, A100);
$cardihab-warn:    mat-palette($md-cardihab-orange);

$cardihab-theme: mat-light-theme($cardihab-primary, $cardihab-accent, $cardihab-warn);


@mixin sidenav-theme($theme) {
    $primary: map-get($theme, primary);
  
    .sidenav {
      background-color: mat-color($primary);
    }
  
}

@include mat-core-theme($cardihab-theme);
@include mat-button-theme($cardihab-theme);
@include mat-checkbox-theme($cardihab-theme);

@include angular-material-theme($cardihab-theme);

@include sidenav-theme($cardihab-theme)